<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="timeout" value="30"/>
		<add key="localL" value="admin"/>
		<add key="localP" value="admin"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>